@font-face {
  font-family: "Stylish";
  src: url("./Fonts/Giomori.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Utility class */
.stylish-font {
  font-family: "Stylish", serif;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
